{% extends 'base.html' %}
{% block content %}
<div class ="container">
    <div class = "row">
        <div class ="col-md-6 offset=3">
            <h2> This is home page.</h2>
                <h3> About Job: </h3>
    

            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    {{form.title}}
                    {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> {% endcomment %}                  
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    {{form.description}}
                    {% comment %} <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> {% endcomment %}
                </div>
                <p>
                    <input type="submit" class="btn btn-secondary">
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
