{% extends 'base.html' %}


{% block content %}
<div class ="container">
    <div class = "row">
        <div class ="col-md-6 offset=3">
            <h2> This is Article List page.</h2>
            <h3> Article Lists: </h3>
            {% comment %} {% for article in article_list %}
            <p>Title : {{article.title}}</p>
            <p>Content : {{article.content}}</p>
            <p>Date : {{article.date}}</p>
            {% endfor %} {% endcomment %}


            <table class="table" align="center" style="width:100%">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Content</th>
                  <th scope="col">Date </th>
                </tr>
                {% for article in article_list %}
                <tr>
               
                  <td>{{article.title}}</td>
                  <td>{{article.content}}</td>
                  <td>{{article.date}}</td>
                </tr>
                {% endfor %}
              </table>




            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    {{form.title}}
                    {% comment %} <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> {% endcomment %}                  
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                    {{form.content}}
                    {% comment %} <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> {% endcomment %}
                </div>
                <p>
                    <input type="submit" class="btn btn-secondary">
                </p>
            </form>
</div>
</div>
{% endblock %}