{% extends 'base.html' %}

{% block content %}
<div class ="container">
    <div class = "row">
        <div class ="col-md-6 offset=3">
<!-- contact section start -->
        <h2 class="title">Contact me</h2>
        {% comment %} <div class="contact-content">
            <div class="column left">
                <div class="text">Get in Touch</div>
                <p>For any queries or for collaboration contact us or message us.</p>
                <div class="icons">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="info">
                            <div class="head">Name</div>
                            <div class="sub-title">{{name}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="info">
                            <div class="head">Address</div>
                            <div class="sub-title">{{address}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title">{{email}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-phone"></i>
                        <div class="info">
                            <div class="head">Contact</div>
                            <div class="sub-title">{{contact}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column right">
                <div class="text">Message me</div>
                <form action="#">
                    <div class="fields">
                        <div class="field name">
                            <input type="text" placeholder="Name" required>
                        </div>
                        <div class="field email">
                            <input type="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Subject" required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
                    </div>
                    <div class="button-area">
                        <button type="submit">Send message</button>
                    </div>
                </form>
            </div>
        </div> {% endcomment %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="head">Email</div>
            <input type="text" id="lname" name="email" ><br><br>
            <div class="head">Description</div>
            <textarea name="message" cols="30" rows="10" placeholder="Message.." required></textarea><br><br> 
            <div class="info">
                <div class="head">Address</div>
                <div class="sub-title">{{address}}</div>
            </div>        
            <input type="submit" >
        </form>
    </div>
</div>
</div>
{% endblock %}