{% extends 'base.html' %}
{% block content %}
<div class ="container">
    <div class = "row">
        <div class ="col-md-6 offset=3">
<h1>Expense List </h1>

{% for exp in expenses %}
<li>{{exp.title}}</li>
<p>Rs {{exp.amount}}</p>

{% endfor %}

<h1>Add new expense</h1>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="title" required><br><br>           
     <input type="number"  name="amount" required><br><br>
      <button> Submit </button>
</form>
</div>
</div>
</div>
{% endblock %}