{% extends 'base.html' %}


{% block content %}

<div class ="container">
  <div class = "row">
      <div class ="col-md-6 offset=3">
            
        <h3> Name: {{name}}</h3>
        <h3> Address: {{address}}</h3>
        <h3> Age: {{age}}</h3>
        <h3> About Job: </h3>
        <p>Company : {{about_job.company}}</p>
        <p>Location : {{about_job.location}}</p>
        <h3>Interests: </h3>
        {% for intrest in intrests %}
        <p>{{intrest}}</p>
        {% endfor %}

      

    <table class="table" style="width:100%">
            <tr>
          
              <th scope="col">Student ID</th>
              <th scope="col">Name</th>
              <th scope="col">Roll No </th>
              <th scope="col">Address</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Email</th>
            </tr>
            {% for student in student_list %}
            <tr>
           
              <td> {{student.id}}</td>
              <td>{{student.name}}</td>
              <td>{{student.rollno}}</td>
              <td>{{student.address}}</td>
              <td> {{student.mobile}}</td>
              <td>{{student.email}}</td>
            </tr>
            {% endfor %}
          </table>
                </div>             
            </div>
          </div>

{% endblock %}